div {
	background-color: #234465;
	color: white;
}

.rightAllign {
	text-align: right;
}

tr:nth-child(2){
font-size: 0.8em;
}

td:nth-child(1){
	padding-left: 80px;
}

.secondRow > td {
	padding: 5px;
}
