
.main {
	background-color: #009744;
}

table {
	border-collapse: collapse;
	border-radius: 10px;
	font-size: 1em;
	width:97%;
	margin: 10px;
	background-color: white;
	text-align: center;
}

thead {
	background-color: #F8CA14;
	font-size: 1.6em;
}

.circleButtonRed {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color:red;
	font-size: 0.5em;
}

.circleButtonGreen{
	width:30px;
	height: 30px;
	border-radius: 15px;
	background-color:green;
	font-size: 0.5em;
}

.even {
	background-color: #CBCBCB;
}

td:nth-child(1) {
	text-align: right;
}

td:nth-child(3) {
	text-align: left;
}

td:nth-child(5) {
	text-align: right;
}

td:nth-child(7) {
	text-align: left;
}